*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat', sans-serif;
    background-image: url(../static/weather-bg.jpg);
    background-size: cover;
    background-position: top center;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), 
                        rgba(0,0,0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border:none;
    outline: none;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus{
    background-color: rgba(255,255,255, 0.7);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: #fff;
    font-size: 16px;
}

.current .temp{
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 4px 8px rgba(0,0,0, 0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4);
}

.current .feels-like{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0,0,0,0.4);
}

.forecast{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), 
                        rgba(255,255,255,0.4));
}

.forecast .name{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0px 3px rgba(0,0,0,0.4);
}

.forecast .temp{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 4px 8px rgba(0,0,0, 0.6);
}

.forecast .weather{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4);
}

@media (max-width: 700px){
    .forecast{
        flex-direction: column;
    }
    .day{
        margin: 1rem auto;
    }
}